.landlord-table {
  .ant-table-tbody tr td {
    &:nth-child(5) {
      padding-left: rem(64);
    }
  }

  .ant-table-tbody tr {
    cursor: pointer;

    td:first-child {
      max-width: rem(300);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
