@mixin hidden-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

@mixin fieldset-reset {
  margin: 0;
  padding: 0;
  border: 0;
}

@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
