$color-green: #52c41a;
$color-border-gray: #e9e9e9;
$color-light-border: #5abfb2;
$color-form-error: #f5222d;
$type-22px: 22px;
$color-keppel: #38b2a6;

.property-terms {

  &__contain {
    padding: rem(32);
  }

  &__loading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: rem(50);
    background-color: $color-white;
    text-align: center;
    z-index: 100;
  }

  &__add {
    @include font-style($type-14px, $type-22px, $color-keppel);
    width: 100%;
    height: rem(32);
    border: dashed 1px $color-keppel;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }

  &__empty-contain {
    width: 100%;
    height: calc(100vh - 166px);
    padding: rem(32);
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $color-white;
  }

  &__empty-icon {
    width: rem(214);
    height: rem(189);
  }

  &__empty-text {
    @include font-style($type-14px, $type-24px, $color-tundora);
    margin-top: rem(30);
  }

  &__empty-create {
    @include font-style($type-14px, $type-24px, $color-white);
    padding: rem(8) rem(24);
    border-width: 0;
    border-radius: rem(2);
    outline: none;
    background-color: $color-keppel;
  }

  &__list {
    width: 100%;
  }

  .ant-list-item {
    padding: 0;
  }

  &__row {
    width: 100%;
    margin-top: rem(16);
    padding-bottom: rem(25);
    border-radius: rem(2);
    background-color: $color-white;

    &__section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: rem(56);
      padding: 0 rem(32);
      border-bottom: 1px solid $color-border-gray;
    }

    &__section-left {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__name {
      @include font-style($type-16px, $type-24px, $color-tundora);
      @include font-weight(bold);
    }

    &__status {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: rem(78);
      height: rem(24);
      margin-left: rem(8);
      border-radius: rem(12);
      background-color: rgba($color-black, $alpha: 0.04);

      &--active {
        background-color: rgba($color-green, $alpha: 0.1);
      }

      &__point {
        width: rem(6);
        height: rem(6);
        border-radius: rem(3);
        background-color: rgba($color-black, $alpha: 0.25);

        &--active {
          background-color: $color-green;
        }
      }

      &__text {
        @include font-style($type-14px, $type-22px, rgba($color-black, $alpha: 0.25));
        margin-left: rem(8);

        &--active {
          color: $color-green;
        }
      }

    }

    &__edit-button {
      width: rem(30);
      height: rem(30);
      border-width: 0;
      text-align: center;
      cursor: pointer;
    }

    &__edit-icon {
      width: rem(16);
      height: rem(16);
      fill: $color-keppel;
    }

    &__delete-icon {
      width: rem(15);
      height: rem(16);
      fill: $color-keppel;
    }

    &__button-line {
      width: 1px;
      height: rem(16);
      margin: 0 rem(12);
      background-color: $color-mercury;
    }

    &__content {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding-left: rem(8);
    }

    &__content-left {
      width: calc(50% - 24px);
      margin-left: rem(24);
    }

    &__content-text {
      @include font-style($type-14px, $type-22px, $color-tundora);
      display: inline-block;
      width: 100%;
      margin-top: rem(16);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &__content-url {
      color: $color-tundora;
      text-decoration: underline;
    }

    &__content-file {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin-top: rem(16);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &__content-file-text {
      @include font-style($type-14px, $type-22px, $color-tundora);
    }

    &__file-icon {
      width: rem(15);
      height: rem(17);
      margin: 0 rem(8);
      color: $color-keppel;
    }

  }
}

.terms-modal {

  &__title {
    @include font-style($type-18px, $type-24px, $color-silver-chalice);
  }

  .ant-modal-body {
    padding: rem(8) rem(32);
  }

  &__label {
    @include font-style($type-12px, $type-24px, $color-tundora);
    @include font-weight(bold);
    display: block;
    margin-bottom: rem(4);

    &--required::before {
      @include font-style($type-12px, $type-14px, $color-thunderbird);
      display: inline-block;
      margin-right: rem(4);
      content: '*';
    }
  }

  &__open-end {
    float: right;

    .ant-checkbox-inner {
      &::after {
        margin-left: 1px;
      }
    }
  }

  &__open-end-text {
    @include font-style($type-12px, $type-24px, $color-silver-chalice);
    display: inline;
    margin: 0;
    padding: 0;
  }

  &__open-end-checkbox {
    display: inline;
    position: absolute;
    top: rem(4);
    right: rem(66);

    .ant-form-item-control {
      line-height: $type-16px;
    }
  }

  &__file {
    margin-bottom: rem(16);

    &__error {
      @include font-style($type-14px, $type-20px, $color-form-error);
      min-height: 22px;
      margin-top: -2px;
      transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .ant-upload-drag {
      border: 0 solid $color-border;

      .ant-upload-btn {
        padding: 0;
      }
    }

  }

  &__upload-excel {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: rem(72);
    padding: 0 rem(20);

    border: 1px dashed $color-border;

    &:hover {
      border-color: $color-light-border;
    }

    &__selected {
      border: 1px solid $color-border;
    }

    &__error {
      border: 1px solid $color-form-error;
    }

    &__upload-icon {
      svg {
        width: rem(24);
        height: rem(24);
      }
    }

    &__text {
      margin-left: rem(20);
      text-align: left;
    }

    &__description {
      @include font-style($type-12px, $type-20px, $color-tundora);
    }

    &__tips {
      @include font-style($type-12px, $type-20px, rgba($color-black, 0.43));
    }
  }

  &__file-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: rem(72);
    padding: 0 rem(15);
    background-color: $color-desert-storm;

    &:hover {
      border-color: $color-light-border;
    }

    &__left {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__file-icon {
      width: rem(15);
      height: rem(17);
    }

    &__file-name {
      @include font-style($type-12px, $type-16px, $color-silver-chalice);
      margin-left: rem(8);
    }

    &__delete-btn {
      border-width: 0;
      cursor: pointer;
    }

    &__delete-icon {
      svg {
        width: rem(16);
        height: rem(16);
        fill: $color-keppel;
      }
    }

  }

}
