button {
  background: transparent;
}

.ant-input-number-input {
  padding: 4px 11px;
}

// sass-lint:disable variable-for-property
.ant-form-item-control {
  line-height: normal;
}
// sass-lint:disable variable-for-property

@import '~microapp-frontend-base/dist/global.css';
@import '~global-css/all';
@import '~global-css/grid';
@import '~global-css/molecules/form-field';
@import '~global-css/molecules/checkbox-field';
@import '~react-quill/dist/quill.snow.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '~video-react/dist/video-react.css';
@import '~rc-table/assets/animation.css';

@import 'components/global-search/index';
@import 'components/loading/index';
@import 'components/header/index';
@import 'components/bread-crumbs/index';
@import 'components/property-header/index';
@import 'components/others-facilities/index';
@import 'components/tag-text-area/index';
@import 'components/search-component/index';
@import 'components/no-room-page/index';
@import 'components/special-offer/content/index';
@import 'components/property-card/index';
@import 'components/property-status-filter/index';
@import 'components/no-properties/index';
@import 'components/my-map/index';
@import 'components/edit-layout/index';
@import 'components/edit-tab/index';
@import 'components/details-form/index';
@import 'components/content-form/index';
@import 'components/seo-form/index';
@import 'components/modal/index';
@import 'components/location-review-modal/index';
@import 'components/property-review/index';
@import 'components/property-gallery/library/index';
@import 'components/property-gallery/image-slider/index';
@import 'components/property-gallery/uploading-modal/index';
@import 'components/combined-search-component/index';
@import 'components/property-gallery/photo-item/index';
@import 'components/property-gallery/uploading-modal/item-video/index';
@import 'components/property-gallery/uploading-modal/item-image/index';
@import 'components/property-gallery/uploading-modal/progress-bar/index';
@import 'components/property-gallery/mini-uploading-modal/index';
@import 'components/unpubilshed-modal/index';
@import 'components/contract-upload/index';
@import 'components/contract-file-list/index';
@import 'components/comment/index';
@import 'components/switch-role-page/index';
@import 'components/switch-role-modal/index';
@import 'components/filter-card/index';
@import 'components/filter-modal/index';
@import 'components/search-input/index';
@import 'components/property-detail-wrapper/index';
@import 'components/longtail-cancellation-policy/index';
@import 'components/reconciliation-booking-comment/index';
@import 'components/case-owner-contact/index';
@import 'components/gallery-modal/index';
@import 'components/reconciliation-opportunity-modal/index';
@import 'components/search-cms-user/index';
@import 'pages/auth/index';
@import 'pages/dashboard/index';
@import 'pages/dashboard/account/landlord-modal/index';
@import 'pages/dashboard/account/create-account-modal/index';
@import 'pages/dashboard/account/edit-account-modal/index';
@import 'pages/dashboard/properties/index';
@import 'pages/dashboard/pending-approve/review-draft-modal/index';
@import 'pages/dashboard/pending-approve/list/index';
@import 'pages/dashboard/properties/edit/index';
@import 'pages/dashboard/properties/listing-management/index';
@import 'pages/dashboard/properties/listing-management/property-detail/index';
@import 'pages/dashboard/properties/listing-management/navigation-bar/index';
@import 'pages/dashboard/properties/commission/index';
@import 'pages/dashboard/properties/commission/commission-form-modal/index';
@import 'pages/dashboard/properties/deposit-and-fees/index';
@import 'pages/dashboard/properties/deposit-and-fees/deposit-modal/index';
@import 'pages/dashboard/properties/commission/commission-list/index';
@import 'pages/dashboard/properties/commission/commission-empty/index';
@import 'pages/dashboard/properties/create/index';
@import 'pages/dashboard/properties/create/basic-information/index';
@import 'pages/dashboard/properties/create/property-address/index';
@import 'pages/dashboard/properties/create/property-success/index';
@import 'pages/dashboard/properties/create/create-confirmation/index';
@import 'pages/dashboard/properties/edit/listings-tab/index';
@import 'pages/dashboard/properties/edit/gallery-tab/index';
@import 'pages/dashboard/properties/edit/pending-approve-success/index';
@import 'pages/dashboard/properties/record/index';
@import 'pages/dashboard/properties/record/record-form-modal/index';
@import 'pages/dashboard/properties/record/record-list/index';
@import 'pages/dashboard/properties/record/record-landlord/index';
@import 'pages/dashboard/properties/homepage/index';
@import 'pages/dashboard/constructing/index';
@import 'pages/dashboard/special-offer/index';
@import 'pages/dashboard/special-offer/create-offer/index';
@import 'pages/dashboard/location/country/index';
@import 'pages/dashboard/location/city/index';
@import 'pages/dashboard/location/city/add-new-city/index';
@import 'pages/dashboard/location/university/index';
@import 'pages/dashboard/location/university/add-new-university/index';
@import 'pages/dashboard/location/area/index';
@import 'pages/dashboard/location/area/add-new-area/index';
@import 'pages/dashboard/account/index';
@import 'pages/dashboard/my-profile/index';
@import 'pages/dashboard/properties/change-log/index';
@import 'pages/dashboard/properties/change-log/listing-management/index';
@import 'pages/dashboard/properties/change-log/listing-management/table/index';
@import 'pages/dashboard/properties/change-log/listing-management/detail-modal/index';
@import 'pages/dashboard/properties/change-log/listing-management/rich-text/index';
@import 'pages/dashboard/properties/terms/index';
@import 'pages/dashboard/account/landlord-management/index';
@import 'pages/dashboard/account/internal-management/index';
@import 'pages/dashboard/account/view-landlord-modal/index';
@import 'pages/udesk/index';
@import 'pages/dashboard/reviews/index';
@import 'pages/dashboard/reviews/table/index';
@import 'pages/dashboard/reviews/image/index';
@import 'pages/help-center/index';
@import 'pages/help-center/user-guide/index';
@import 'pages/help-center/things-to-know/index';
@import 'pages/help-center/listing-your-properties/index';
@import 'pages/help-center/price-and-availability/index';
@import 'pages/help-center/commission-and-contract/index';
@import 'pages/help-center/my-account/index';
@import 'components/special-offer/map/add-property/index';
@import 'components/property-status-filter/index';
@import 'components/table-column-search/index';
@import 'pages/dashboard/contract/index';
@import 'pages/dashboard/contract/contract-filter/index';
@import 'pages/dashboard/contract/contract-modal/index';
@import 'pages/dashboard/contract/contract-list/index';
@import 'pages/dashboard/properties/reference-and-contact/index';
@import 'pages/comments/index';
@import 'pages/dashboard/landlord/index';
@import 'pages/dashboard/landlord/details/index';
@import 'pages/dashboard/landlord/details/header/index';
@import 'pages/dashboard/landlord/details/detail/index';
@import 'pages/dashboard/landlord/details/contact/index';
@import 'pages/dashboard/landlord/details/property-related/index';
@import 'pages/dashboard/landlord/table/index';
@import 'pages/dashboard/landlord/modal/index';
@import 'pages/dashboard/billing/index';
@import 'pages/dashboard/billing/transfer/index';
@import 'pages/dashboard/billing/transfer/details/index';
@import 'pages/dashboard/billing/transfer/transferred-modal/index';
@import 'pages/dashboard/billing/receive/index';
@import 'pages/dashboard/billing/receive/details/index';
@import 'pages/dashboard/billing/receive/invoiced-modal/index';
@import 'pages/dashboard/billing/card/index';
@import 'pages/dashboard/billing/refund/index';
@import 'pages/dashboard/billing/refund/details/index';
@import 'pages/dashboard/billing/refund/modal/index';
@import 'pages/dashboard/landlord/contact-modal/index';
@import 'pages/dashboard/reconciliation/index';
@import 'pages/dashboard/reconciliation/landlord/index';
@import 'pages/dashboard/reconciliation/booking-details/index';
@import 'pages/dashboard/reconciliation/bulk-update/index';
@import 'pages/dashboard/reconciliation/bulk-history/index';

.ant-select-dropdown-menu-item-selected {
  @include font-weight(bold);
}
